<p style="font-size: 17px;">
  <strong>{{ subscribedUserName }}</strong> se inscreveu no seu evento <strong>{{ meetup.title }}</strong>
</p>
<br />

<h2 style="font-size: 24px; color: #66becd;">Informa&ccedil;&otilde;es</h2>

<h3>Inscrito</h3>

<ul>
  <li><strong>Nome</strong>: {{ subscribedUserName }}</li>
  <li><strong>Email</strong>: {{ subscribedUserEmail }}</li>
</ul>

<h3>Evento</h3>

<p>{{ meetupTitle }}, <br /> {{ meetupDate }}, {{ meetupLocale }}</p>
